body {
    min-width: 1080px;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.container {
  width: 1020px;
  margin: 0 auto;
  padding: 0 30px;
}

/*Блок Хедер*/

.main-header {
  padding-top: 35px;
  padding-bottom: 80px;
  background-color: #6451d5;
  background-image: url("../img/bg-header.jpg");
  background-position: center 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}

.header-top {
  margin-bottom: 93px;
}

.header-top::after {
  display: table;
  clear: both;
  content: "";
}

.logo {
  float: left;
  width: 182px;
  height: 82px;
}

.logo img {
  display: block;
}

.main-menu {
  float: right;
  width: 670px;
  margin-top: 25px;
}

.main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu li {
  display: inline-block;
  margin-right: 48px;
  vertical-align: top;
  font-size: 18px;
  line-height: 24px;
  font-family: "Trebuchet MS",sans-serif;
  font-weight: bold;
}
.main-menu li:last-child {
    margin-right: 0;
}

.main-menu a {
  color: #ffffff;
  text-decoration: none;
}

.main-menu a:hover {
  text-decoration: underline;
}

.main-menu a:active {
  text-decoration: none;
  opacity: 0.3;
}

.btn {
  display: inline-block;
  padding: 25px 20px;
  font-size: 20px;
  line-height: 24px;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border: none;
  font-family: "Trebuchet MS",sans-serif;
}

.btn-purple {
  background: #382d78;
}

.btn-purple:hover {
  background: #32286c;
}

.btn-purple:active {
  background: #32286c;
  color: #ffffff;
  opacity: 0.3;
}
.promo {
  position: relative;
  z-index: 10;
  width: 450px;
}

.promo::after{
  content: "";
  position: absolute;
  top: -20px;
  left: 390px;
  width: 653px;
  height: 451px;
  background-image: url("../img/bg-promo.png");
  background-repeat: no-repeat;
  z-index: -1;
}

.promo-title {
  margin-bottom: 35px;
  font-family: "Trebuchet MS",sans-serif;    
  font-weight: bold;
  font-size: 45px;
  line-height: 50px;
  color: #ffffff;
}

.promo p {
  margin: 0;
  width: 320px;
  font-family: "Tahoma",sans-serif; 
  margin-bottom: 40px;
  color: #bcb3f2;
  font-size: 18px;
  line-height: 30px;
}

.promo .btn {
  margin-top: 12px;
  width: 280px;
}

/*Блок Преимущества*/

.features-item {
    position: relative;
    float: left;
    width: 320px;
    margin-right: 30px;
}

.features-item:last-child {
    margin-right: 0px;
}

.features-icon {
    position: absolute;
    top: 0px;
    left: 10px;
    width: 70px;
    height: 70px;
    background-image: url(../img/bg-sprites.png);
}

